@charset "utf-8";
@import url('../../../earlyaccess/nanumgothic.css');
@import url('../../../css');
@import url('../../../css-1');

@font-face { font-family: 'Eoe_Zno_L'; src: url('../../../gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_L.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face {
		font-family: 'GmarketSansLight';
		src: url('../../../gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'GmarketSansMedium';
		src: url('../../../gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'GmarketSansBold';
		src: url('../../../gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

/* 초기화 */
html {overflow-y:scroll}
body {margin:0;padding:0;font-size:0.75em;font-family: 'GmarketSans', 'Noto Sans KR', sans-serif;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-family: 'GmarketSansMedium', 'Noto Sans KR',  sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ul,ol,li,dl,dt,dd{list-style:none;margin:0;padding:0}
#hd ul, nav ul, #ft ul {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;font-family: 'Noto Sans KR', sans-serif;font-size:1em}
button {cursor:pointer; border:none;}
textarea, select {font-family: 'Noto Sans KR', sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}

pre {overflow-x:scroll;font-size:1.1em}
a:link, a:visited {color:#000;text-decoration:none}
a:hover, a:focus, a:active {color:#000;text-decoration:none}

/*기본*/
.wrap{position: relative; margin: 0 auto;width: 1200px;}
.wrap:after {display: block; visibility: hidden; clear: both;content: "";}

/* 레이아웃 크기 지정 */
#hd, #wrapper, #ft{min-width:1200px}

#hd_pop,
#hd_wrapper,
#tnb ul,
#gnb .gnb_wrap,
#container_wr,
#ft_wr{width:1200px}

/* 팝업레이어 */
#hd_pop {z-index:1000;position:relative;margin:0 auto;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff;}
.hd_pops img{max-width:100%}
.hd_pops_con {}
.hd_pops_footer {padding: 0;background:#000;color:#fff;text-align:left;position:relative;}
.hd_pops_footer:after {display:block;visibility:hidden;clear:both;content:""}
.hd_pops_footer button {padding: 10px;border:0;color:#fff}
.hd_pops_footer .hd_pops_reject{background:#000;text-align:left}
.hd_pops_footer .hd_pops_close{background:#393939;position:absolute;top:0;right:0}







/* 상단 레이아웃 */
#hd {background:#fff;width:100%;z-index:9999;top:0;left:0}
#hd:after {display:block;visibility:hidden;clear:both;content:""}
#hd_h1 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

#logo {padding:0px 10px;z-index:9999;}


#gnb_open {position:absolute;top:10px;right:0px;background:url(../img/menu.png) no-repeat 50% 50%; width:50px;height:50px;border:none;text-indent:-9999px;overflow:hidden; display:none; }
#gnb_close {display:block;border:0;position:absolute;top:10px;right:0;background:url(../img/btn_cl.png) 50% 50% no-repeat;width:50px ;height:50px;text-indent:-999999px;overflow:hidden}


#m_gnb{display:none;text-align:center;position:fixed;top:0;left:0;width:100%;  height:100%; background:#fff; z-index: 99999; -webkit-backface-visibility: hidden;}

#m_gnb ul#gnb_2dul li{text-align:center;font-weight:bold; }
#m_gnb #gnb_2dul a:hover,#gnb a:focus{color:#3d96d6 ;text-decoration:none}
#m_gnb .gnb_1dli > a{font-size:20px;line-height:70px;display:inline-block;color:#333;vertical-align:middle;font-family:'GmarketSansMedium'; width:90%; border-bottom:1px solid #eee; margin:0 auto;}



#m_gnb #gnb_1dul .gnb_2dli a{font-size:1.250em;color:#979797;line-height:1.7em;display:inline-block}
#m_gnb .gnb_op{background:url(../img/mobile/gnb_bg.gif) no-repeat 5px 50%; ;width:30px;height:30px;height:42px;text-indent:-999px;overflow:hidden;border:none;vertical-align:middle}
#m_gnb .gnb_bg .gnb_op{}

#hd_sch{height:23%}
#hd_sch form{margin-top:40px;padding:0;border:1px solid #fff;;width:50%;position:relative;display:inline-block;text-align:center}
#hd_sch h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#hd_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
#hd_sch #sch_stx {padding-left:5px;width:100%;height:27px;border:0;background:none !important;line-height:27px !important;line-height:1.6em;color:#fff}
#hd_sch #sch_submit {padding:0 5px;height:27px;border:0;background:url(../img/mobile/sch_btn.png) no-repeat 50%  50% ;color:#fff;cursor:pointer;text-indent:-9999px;overflow:hidden;width:30px;position:absolute;top:0;right:0}

#hd_nb{height:12%}
#hd_nb{text-align:center;width:100%}
#hd_nb li{display:inline-block}
#hd_nb li a{color:#fff;background:#3C95D5;padding: 5px;display:inline-block;border-radius:3px;display:inline-block;margin-top:10px}
#hd_nb li a:hover,#hd_nb li a:focus{color:#fff;background:#0071C2;text-decoration:none;s}
#hd_nb #snb_adm{color:#3C95D5;border:1px solid #3C95D5;background:#fff}




/* 상단 레이아웃 */
#hd {z-index:4;top:0px;left:0;width:100%;background:#fff;}
.hd_zindex {z-index:10 !important}
#hd_h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#hd_wrapper {height: 90px; width: 100%;  margin: 0 auto;  padding: 0;  text-align: right; z-index: 99999; left: 0;  top: 0; background:#fff;}
#hd_wrapper:after {display:block;visibility:hidden;clear:both;content:""}
#logo {display: inline-block;position: absolute;left: 0;  top: 25px;z-index: 9;}
#logo a{display:inline-block;vertical-align:middle;}

/*상단_로그인*/
.tnb_rock { background:#fff; width:100%; height:30px;font-family: 'Eoe_Zno_L'; border-bottom:1px solid #e7e7e7;}
#tnb {position: absolute;
    right: 2%;
    top: 0;
    z-index: 111;
    width: 100px;
    height: 100px;
	display:none;
}
#tnb:after {display:block;visibility:hidden;clear:both;content:"" }


 #tnb .btnMenu {
    width: 30px;
    height: 22px;
    text-indent: -999px;
    overflow: hidden;
    background: url(../img/menu_icon.png) no-repeat center center;
    background-size: cover;
    margin: 25px 0;
}
/* 메인메뉴*/
#gnb {z-index: 8;padding: 0; height: 90px; position: absolute;top: 3px;left: 0;width: 100%; font-family: 'GmarketSansmedium';}
.gnb_wrap{position: relative;}
#gnb:after {display:block;visibility:hidden;clear:both;content:""}
#gnb h2 {position: absolute;  font-size: 0; line-height: 0;overflow: hidden;}
#gnb_1dul {width: 100%;}
/*#gnb_1dul:after {display:block;visibility:hidden;clear:both;content:""}*/
#gnb .gnb_1dli {display: inline-block; padding: 0 20px;  position: relative; text-align: center;}
.gnb_1dli a { color:#333; font-size: 20px;  line-height: 90px; display: block;word-break: keep-all;}

.gnb_bg:focus, .gnb_bg:hover {background-color:#505050 ;text-decoration:none}
.gnb_1dli_air .gnb_1da {background-color:#e7e7e7;}

.gnb_2dul {display:none;position:absolute;top:55px;width:140px;left:0; }
.gnb_2da {display:block;padding:13px 10px;text-align:left;text-decoration:none;font-size:1.2em;text-align:center;}
.gnb_1dli_air .gnb_2da {background-color:#505050;color:#fff}
.gnb_1dli_on .gnb_2da {background-color:#505050;color:#fff; transition:all 0.3s;}

.gnb_1dli_over .gnb_2dul {display:block;left:0;background:#fff}
.gnb_1dli_over2 .gnb_2dul {display:block;right:0;background:#fff}

#gnb_empty {padding:8px 0;text-align:center;line-height:2em;color:#fff;margin-left:200px;line-height:18px}
#gnb_empty a {text-decoration:underline;color:#3c95d5}

/*MENU SINGLE DROPDOWN #main_menu */
#single_dropdown {display: inline-block; min-height:90px;transition: all 1.3s;}
#single_dropdown #main_menu ul {display:none; z-index:99; width:100% !important; background:rgba(0,34,111,0.9); position: absolute; top: 90px; left:-20px;}
#single_dropdown #main_menu ul li{float:none; display:block;}
#single_dropdown #main_menu ul li a {display: block; color: #fff; font-size:16px; line-height: 1.5; text-align: left; border-bottom: none; text-align: center; width: 100%; padding: 10px 0px;}
#single_dropdown #main_menu ul li a:hover {background:#fff; color:#000;}
#single_dropdown #main_menu ul li:last-child a{ border-bottom:none;}
#single_dropdown #main_menu ul li.dropdown_last_child a { border-bottom:none; } /*IE8 HACK*/
#single_dropdown .jquery_dropdown{color:#379cf7;}

#single_dropdown #main_menu li{ float: left; position:relative; margin: 0px;}
#single_dropdown #main_menu li ul li{ margin: 0; width: 100%;clear:both;}
#single_dropdown #main_menu li a{display:block; color:#fff; font-size:14px;line-height:30px; text-align: center; border-bottom:none;}
#single_dropdown > #main_menu > li {display:inline-block;float:left;}
#single_dropdown > #main_menu > li > a {display: block; line-height:90px; color: #000; font-size:20px; font-family: 'GmarketSansMedium', 'Noto Sans KR', 'Sans-serif'; text-align:center; transition: 0.3s; padding: 0 25px;}
#single_dropdown > #main_menu > li > a:hover {border-bottom: none; color:#379cf7;}
#single_dropdown > #main_menu > li > a.jquery_dropdown {border-bottom: none; color:#379cf7;}

.down {  -webkit-transition-duration:0.4s; -webkit-transition-timing-function:ease;transition-duration:0.4s; transition-timing-function:ease;height: 90px;}
.down #gnb{background:rgba(0,34,111,0.9);}
.down #full_dropdown > #main_menu > li > a{line-height: 90px;}
.down #full_dropdown {background:rgba(0,34,111,0.95);}




#gnb .gnb_wrap {margin:0 auto; position:relative; width:100%; width:auto; padding:0;}
#gnb #gnb_1dul {margin:0 auto; font-size:20px; text-align:center;margin-left:-7%;}
#gnb ul:after {display:block; visibility:hidden; clear:both; content:""}
/*#gnb ul > li {display:inline-block;width:auto; padding:0 30px; position:relative; font-weight:normal; }*/
#gnb ul > li > a {display:inline-block; text-decoration:none; font-size: 20px; line-height:90px; text-align:center; font-weight:500; color:#29282a; font-family: 'GmarketSansMedium', 'Noto Sans KR', sans-serif;}
/*#gnb ul#gnb_1dul > li > a.on , #gnb ul#gnb_1dul > li > a:hover {color:#2384f5}*/

#gnb p {display:inline-block;position:absolute; right:0; top:-5px; font-size: 18px; line-height:90px; font-weight:500; }


.gnb_2dul {display:none; position:absolute; top:100%; left:0; min-width:157px; background:#2384f5; box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.05); padding:0;z-index:-2;overflow:hidden;}













#gnb ul > li > ul > li {float:none; text-align:center; padding:0; display:block; }
#gnb ul > li > ul > li > a {position:relative;width:100%; padding:10px 0; display:block; text-align:center; line-height:180%; font-size:17px; word-break:keep-all;color:#fff; border-bottom:1px solid rgba(255,255,255,0.2);}
#gnb ul > li > ul > li:last-child > a {border-bottom:0;}
/*#gnb ul > li > ul > li > a:after {position:absolute; content:""; display:block; width:100%; height:1px;background:rgba(0,0,0,0.05); bottom:0; left:0px;}*/
#gnb ul > li > ul > li:hover {background:#fff;}
#gnb ul > li > ul > li > a:hover {color:rgba(0,0,0,1)}
/*#gnb ul > li > ul > li > a:hover:before {content: '';position: absolute;top: 45%;left:20%; width:60%; border-top: 10px solid #fbfe01;opacity: 0.5;z-index:-1}*/


.gnb_1dli_over .gnb_2dul {display:block; left:0}
.gnb_1dli_over2 .gnb_2dul {display:block; right:0}
.gnb_wrap .gnb_empty {padding:10px 0; width:100%; text-align:center; line-height:2em;}
.gnb_wrap .gnb_empty a {color:#fff; text-decoration:underline}
.gnb_wrap .gnb_al_ul .gnb_empty, .gnb_wrap .gnb_al_ul .gnb_empty a {color:#555}
#gnb .gnb_menu_btn {display:none; background:#4158d1; color:#fff; width:50px; height:50px; border:0; vertical-align:top; font-size:18px;}
#gnb .gnb_close_btn {background:#4158d1; color:#fff; width:50px; height:50px; border:0; vertical-align:top; font-size:18px; position:absolute; top:-50px; left:0}
#gnb .gnb_mnal {padding:0}
#gnb_all {display:none; position:absolute; width:100%; z-index:99;}
#gnb_all .gnb_al_ul:after {display:block; visibility:hidden; clear:both; content:""}
#gnb_all .gnb_al_ul {background:#fff; border:1px solid #4158d1; padding:20px;}
#gnb_all .gnb_al_li {background:#fff; float:left; min-width:20%; padding:5px;}
#gnb_all .gnb_al_li .gnb_al_a {font-size:1.083em; padding:10px; display:block; position:relative; margin-bottom:10px; background: #eff1f9; border-bottom: 1px solid #dee2f1; font-weight: bold; color:#243071}
#gnb_all .gnb_al_li li {padding-left:10px; line-height:2em}
#gnb_all .gnb_al_li li i {color:#9ca6cc}
#gnb_all .gnb_al_li li a {color:#555}
#gnb ul > li.gnb_last {float:right; }






.m_tnb {padding:50px 0 30px; text-align:center;  border-bottom:1px solid #ddd;  }
.m_tnb:after {display:block; clear:both; content:''}


.con_wrap{width:100%; height:100%; margin:50px auto;}







/*서브*/
.sVisual {position:relative;height:500px; text-align:left; background-repeat:no-repeat; background-position:center; background:url('/img/sub/sub_visual01.jpg'); margin:0}
.sVisual.visual01 {background:url('../img/sub/sub_vis01.jpg') no-repeat center; background-size:cover;}
.sVisual.visual02 {background:url('../img/sub/sub_vis02.jpg') no-repeat center; background-size:cover;}
.sVisual.visual03 {background:url('../img/sub/sub_vis03.jpg') no-repeat center; background-size:cover;}
.sVisual.visual04 {background:url('../img/sub/sub_vis04.jpg') no-repeat center; background-size:cover;}
.sVisual.visual05 {background:url('../img/sub/sub_vis05.jpg') no-repeat center; background-size:cover;}


.sVisual > div {position: relative; padding-top:260px;text-align:center;}
.sVisual > div h2 {font-size:55px; color: #fff; font-weight: bold;  transform: none;   opacity: 1;visibility: visible; position:relative; padding-bottom:10px;}

.sVisual > div p {font-size:20px; color:#fff; margin-top:20px; }







/* 전체 검색 */
#hd_sch {position:absolute;top:0;right:0;padding:0;border:1px solid #fff;margin:13px}
#hd_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
#hd_sch #sch_stx {padding-left:5px;width:110px;height:27px;border:0;background:none;line-height:1.9em !important;line-height:1.6em;color:#fff}
#hd_sch #sch_submit {padding:0 5px;height:27px;border:0;background:url(../img/sch_btn.jpg) no-repeat 50%  50% ;color:#333;cursor:pointer;text-indent:-9999px;overflow:hidden;width:30px}

/*메인배너*/
#main_bn {background:#fff;position:relative;overflow: auto;width:100% !important}
#main_bn .bn_ul li{height:645px;float: left;}
.bg{background:url(../img/main_bn01.jpg) no-repeat 50% 50%; background-size: cover;display: table;-ms-filter: sizingMethod='scale' property}
#main_bn li.bn_bg2{background:url(../img/main_bn1.jpg) no-repeat 50% 50%; background-size: cover;display: table;-ms-filter: sizingMethod='scale' property}
#main_bn li.bn_bg3{background:url(../img/main_bn2.jpg) no-repeat 50% 50%; background-size: cover;display: table;-ms-filter: sizingMethod='scale' property}
#main_bn li .bn_wr{width:1000px; margin:0 auto;padding-top:217px}
#main_bn li .bn_txt{background-color:rgba(39, 120, 197,0.8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#902778c5,endColorstr=#902778c5);width:283px; height:205px;padding:25px}
#main_bn li .bn_txt h2{text-shadow: 0 1px 1px rgba(0, 0, 0, .3);color:#fff;font-size:2.667em;line-height:40px;margin-top:35px}
#main_bn li .bn_txt p{color:#fff;background:url(../img/bn_pbg.jpg) no-repeat top left;padding-top:20px;margin-top:20px ;font-size:1.34em;line-height:23px;}
#main_bn .bn_btn{position:absolute;top:240px;left:50%;width:1000px;margin-left:-470px}
#main_bn .bn_btn .prev{background:url(../img/bn_btn.gif) no-repeat;border:none;width:24px;height:24px;text-indent:-9999999px;overflow:hidden;display:inline-block}
#main_bn .bn_btn .next{background:url(../img/bn_btn.gif) no-repeat -27px 0;border:none;width:24px;height:24px;text-indent:-99999999px;overflow:hidden;display:inline-block}
#main_bn .dots{position:absolute;bottom:70px;text-align:center;width:100%}
#main_bn .dots li{border:none;text-indent:-9999px;width:48px;height:4px;background:#3e3c52;overflow:hidden;display:inline-block;margin:0 ; zoom:1; *display:inline /*IE7 HACK*/; _display:inline; /*IE6 HACK*/}
#main_bn .dots li.active{background:#3d96d6}

a.cs_btn span {padding-top: 5px;display: block;}

.m_btn_box a.cs_btn span {padding-top: 10px;display: block;}



.swiper-container {
      width: 100%;
      height: 100%;

    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

height:auto;
overflow:hidden;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }





.swiper-container .swiper-button-next{background: url(../img/slick_next.png) no-repeat; width:30px; height:60px; right:10%; }
.swiper-container .swiper-button-prev{background: url(../img/slick_prev.png) no-repeat; width:30px; height:60px; left:10%; }

.swiper-container .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
	overflow:hidden;
	opacity:1;

}
.swiper-container .swiper-pagination-bullet-active {
    opacity: 1;
    background: none;
box-shadow: inset 0px 0px 0px 3px #fff;
}

#main_container section { overflow: hidden; position: relative;}
#main_container {z-index:2;position:relative;}
#main_con01{margin:0; background:#f5f8fa; border-bottom:1px solid #ddd; border-top:1px solid #ddd; }
#main_con02{padding:100px 0;}

.custom_box02{border-top:1px solid #ddd;}
.custom_box, .custom_box02{display:flex; justify-content: space-between; background-color:#f5f8fa; }
.customer, .bank{padding:45px; box-sizing:border-box;}
.custom_box h1, .custom_box02 h1{font-size:30px; font-family:'GmarketSansBold'; position:relative;}
.custom_box p, .custom_box02 p{font-family:'Noto Sans';font-size:15px; color:#666; font-weight:500; padding:10px 0; line-height:1.7; word-break:keep-all; }
.custom_box h3, .custom_box02 h3 {font-size:35px; color:#1d2087; font-family: 'GmarketSansBold';}
.custom_box .bank h3, .custom_box02 .bank h3{font-size:40px;}
.custom_box02 .bank p{padding:16px 0;}

.kakao a, .band a {display:inline-block; padding:22px 45px 22px 115px; box-sizing:border-box; width:100%;}
.kakao, .band{ position:relative;}
.kakao:before{content:'';display:block; background: url(../img/icon_kakao.png) no-repeat; position:absolute; top:40px; left:40px; width:56px; height:51px;}
.band:before{content:'';display:block; background: url(../img/icon_band.png) no-repeat; position:absolute; top:34px; left:40px; width:46px; height:57px;}
.kakao a{background: #f9e000; }
.band a{background: #04cf28; color:#fff; }
.band a p{color:#fff;}


h1.call, h1.cash{padding-left:50px;}
h1.call:before{display:block; content:''; position:absolute; top:0; left:0; background: url(../img/icon_call.png) no-repeat; width:40px; height:40px;}
h1.cash:before{display:block; content:''; position:absolute; top:5px;; left:0; background:url(../img/icon_bank.png) no-repeat; width:40px; height:40px;}


.custom_box02 .customer, .custom_box02 .bank{display:inline-block; width:49%; padding:30px; box-sizing:border-box;}

/*퀵*/
.quick_btn_wrap{position:fixed; z-index:999; bottom:5%;right:20px; overflow:hidden;   display: block; }

.m_btn_wrap{position:fixed; z-index:9999; bottom:0; left:0; overflow:hidden; width:100%; display:none;}
.m_btn_box{display:flex;}
.m_btn_box a{display:inline-block; width:20%; text-align:center;}


.quick_btn_box{
     display: block;
    overflow: hidden;
   padding: 8px;
	 background: #fff; 
	 border-radius: 5px;
}

.q_btn{display: block;
    overflow: hidden;
    height: 80px;
    border-radius: 5px;
    position: relative;
    margin: 0 0 8px 0;
	padding:8px;
	box-sizing:border-box; 
	text-align:center;
	}

a.t_btn{background:url(../img/icon_top.png) no-repeat center 5px #1d1f86; color:#fff; padding-top:50px;}

a.q_btn img, a.m_btn img{display:block; overflow:hidden; margin:0 auto; padding:5px 0;}

a.store_btn,a.band_btn {
    background: #00c73c;
    color: #fff;
}

a.kakao_btn{background:#f9e000;}

a.cs_btn{background:#0896ef; color:#fff; padding-bottom:0;}
a.cs_btn strong {
    font-size:18px;
}
.top_btn {
	display:block;
    width: 66px;
    height: 67px;
    background: url(../img/top_btn.png) no-repeat;
	margin:0 auto;
	margin-top:15px

}




/*서브_중간레이아웃 */
#wrapper{z-index:5;width:100%;margin:0;}
#container{width:100%; margin:0 auto;position:relative}
#container:after {display:block;visibility:hidden;clear:both;content:""}
#container_title{position:absolute;top:0;right:0;width:1px;height:1px;overflow:hidden;font-size:0;text-indent:-999px}

#ctn_title {padding-bottom:110px;border-bottom:1px solid #eee;font-size:1.2em;font-weight:bold;text-align:center;font-size:2.5em;padding-top:165px}
#sub_menu{text-align:center;width:1000px;margin:0 auto;position:relative;padding-bottom:30px}
#sub_menu li{display:inline-block;margin-left:-1px}
#sub_menu li a{display:inline-block;font-weight:bold;border:1px solid #d7d7d8;;width:175px; height:43px;line-height:43px;font-size:1.167em;background:#fff;color:#222;  text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;}

#sub_menu li a.select {background:#3c95d5;border-color:#3c95d5;color:#fff}
#lct{width:100%;border-top:1px solid #eee;border-bottom:1px solid #eee}
#lct ul.lct_li1{width:1000px; margin:0 auto;border-left:1px solid #eee}
#lct ul.lct_li1:after {display:block;visibility:hidden;clear:both;content:""}
#lct ul.lct_li1>li{float:left;height:40px;line-height:40px;border-right:1px solid #eee;padding:0 30px 0 15px  ;min-width:90px;position:relative}
#lct ul.lct_li1>li:hover{background:#f9f9f9}
#lct ul.lct_li1>li.lct_home{padding:0;min-width:40px;}
#lct ul.lct_li1>li.lct_home a{background:url(../img/home.gif) no-repeat 50% 50%;display:inline-block;width:40px;height:40px;text-indent:-9999px;}
#lct ul.lct_li1>li .lct_btn{position:absolute;top:0;right:0;height:40px;width:30px;background:url(../img/lct_bg.gif) no-repeat 50% 50%;border:none;text-indent:-999px;overflow:hidden}
#lct ul.lct_li2{position:absolute;top:40px;left:0;background:#f9f9f9;border:1px solid #eee;display:none;min-width:135px;;}
#lct ul.lct_li2 li{text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;padding:0 15px ;}
#lct ul.lct_li2 li:hover{background:#eee}



/*메인_여행상품*/
.board {margin:0 auto; padding:100px 0;}
.board:first-child{padding-top:0;}
.board h2{font-size:35px; margin-bottom:50px; text-align:center; font-family:'GmarketSansMedium';}
.board h2 span {color:#0896ef;font-family:'GmarketSansBold'; }
.tour_board{margin:0 auto;}

.h_tonglan {margin:0 auto;}
.h218px {}

.h218px td {overflow:hidden;}
.h218px table{position:relative; margin:0 auto;}
#arrLeft, #arrLeftt, #arrLefttt, #arrLeftttt, #arrLefttttt{float:left; position:absolute; top:45%; left:-1%;box-shadow: 3px 0 5px rgb(0 0 0 / 30%);border-radius: 999px;}
#arrRight, #arrRightt,#arrRightttt, #arrRighttt,#arrRighttttt{float:right; position:absolute; top:45%; right:-2%; ;box-shadow: 3px 0 5px rgb(0 0 0 / 30%); border-radius: 999px;}
.h218px th{}
.h_tonglan ul li {float:left;width:350px;height:350px; margin:5px 15px; background:#fff; text-align:center;overflow:hidden; border:1px solid #ddd; border-radius:20px; box-shadow: 0px 0 3px rgb(0 0 0 / 20%);}
.h_tonglan ul li:hover{border:1px solid #0896ef;}

.h_tonglan ul li img{ width:350px;height:255px;}
.pointer {CURSOR: pointer}
.h_tonglan h3{color:#333;font-size:20px;font-weight:700; margin:20px 10px;}

.bg_01{background:#f5f5f5;}
.bg_02{background:#f3f9ff;}



hr{display:none;}

/*스마트스토어*/
#main_con03{background-color:#effaf2;}
#main_con03 .store{display:flex; justify-content: space-between; padding:50px 0;}
#main_con03 h3{font-size:40px; font-weight:700; word-break:keep-all;}
#main_con03 h3 span{color:#00c73c;}
#main_con03 p{font-size:18px; padding:20px 0 30px; line-height:1.6; color:#666; word-break:keep-all;}
#main_con03 .store_img img{display:block; width:100%;}
#main_con03 .store_btn a{position:relative; display:inline-block; background-color:#00c73c; padding:10px 50px 10px 25px; font-size:20px; font-family:'GmarketSansMedium'; color:#fff;}
#main_con03 .store_btn a:after {position: absolute; content: ''; top: 35%; right:20px; width:14px; height:16px; background: url(../img/view_more.png) center no-repeat; }
#main_con03 .store_btn a:hover{background-color:#f29400;}

/* 서브페이지 */


.fz_wrap{padding:100px 0; width:100%; overflow:hidden;}
 .trav_cont .trav_box2{margin-left:30px; }
 .trav_cont .trav_box2 h2{font-size:25px; margin-bottom:20px; font-weight:500; word-break:keep-all;}
 .trav_cont .trav_box2 h3 {font-size:20px; color:#1d1f86; margin-bottom:30px; }

 .trav_cont .trav_box2 p {font-size:18px; line-height:1.6; color:#aaa;}
.trav_cont .trav_box2 p b {font-weight:500; color:#666 }
 .trav_cont {display:flex; align-items: center; padding:30px; box-sizing:border-box; position:relative; border:1px solid #ddd; border-radius:20px; margin-bottom:30px;}
.trav_box1{border-radius:25px; overflow:hidden; min-width:300px;}
.trav_box1 img{width:100%; display:block;}





.fz_admin_chk{display:inline-block; position:absolute; top:15px; left:15px;}
.fr{display:flex;}
.fz_footer{display:flex; justify-content: space-between; margin:30px 0; font-size:16px;}
.btn_bo_adm{display:flex; }
.btn_bo_adm li{margin-right:10px; color:#fff; }
.btn_bo_adm li input, .fr a{display:inline-block; background:#fff; padding:5px 10px; box-sizing:border-box; border:1px solid #ddd; border-radius:5px; cursor:pointer;}
.fr a{border:1px solid #00a0f2; margin-left:10px;}
.btn_bo_adm li input:hover, .fr a{background:#00a0f2; border:1px solid #00a0f2; color:#fff;}



/*게시물*/

.bo_v_com{display:flex; margin-top:30px; margin-bottom:50px;}
.bo_v_com li a {display:inline-block; margin-top:20px; margin-right:10px;background:#fff; border:solid 1px #ddd; border-radius:3px; padding:10px 30px; color:#333; font-size:18px; cursor:pointer;}
.bo_v_com li:last-child a{background:#00a0f2; border:1px solid #00a0f2; color:#fff;}
#bo_v_title{font-size:30px; margin-bottom:50px;word-break:keep-all;}
.bo_v_wrap2{padding:30px; box-sizing:border-box; border-top:2px solid #1d1f86; margin-top:50px; }

.sub_tit1{font-size:30px; margin-bottom:10px;}
.sub_tit_line{display:block; width:60px; height:3px; background:#ddd; content:''; }

.select_box ul, .select_box a{display:none;}


.trav_wid2{display:flex; overflow:hidden;}
.trav_wid2 .trav_img{width:40%; margin-right:3%; overflow:hidden; padding:0;}
.trav_img > img{display:block; width:100%;height: 40vh; border-radius:25px;object-fit: contain;}
.trav_ss_img {
    clear: both;
    width: 100%;
    padding-top: 22px;
    text-align: center;
}
 .trav_cont2, .trav_img {  box-sizing:border-box; position:relative;margin-bottom:30px; font-family:'GmarketSansMedium'; width:60%;}
.trav_cont2 ul {font-size:20px; line-height:1.9; padding-bottom:20px; color:#333; }
.trav_cont2 li b{color:#333; font-size:22px;}

	.trav_cont2 ul span{display:inline-block; width:80%; padding-left:10px; box-sizing:border-box;}
.fa-check-circle{color:#1d1f86;}

#bo_v_con img{display:inline-block; width:100%;}

.trav_cont2 .trav_list{border-top:2px solid #1d1f86;}
.trav_cont2 .trav_list li{padding:10px 0; border-bottom:1px solid #ddd;}
.trav_btn{display:flex;}

#bo_v_con br{display:none;}

/*하단레이아웃 */
#ft{background:#333; color:#fff; padding:50px 0;font-family:'GmarketSanslight';}
#ft_wr{position:relative; display:flex;}
.ft_company{width:60%;}
.ft_list{width:40%; }
.ft_company h3{font-size:18px; padding-bottom:20px;}
.ft_company .ft_info{font-size:16px; display:flex; flex-wrap:wrap;}
.ft_company .ft_info li{padding-right:20px; line-height:1.7;}
.ft_list ul{display:flex;}
.ft_list ul li a{display:inline-block; width:140px; height:40px; text-align:center; line-height:33px; box-sizing:border-box; background:#fff; border:1px solid #ddd;}
.ft_list ul li {margin-right:20px;}
.ft_list ul li:last-chilld{margin-right:0;}
.ft_copy{font-size:16px; padding-top:20px;}


/*글쓰기*/

.ad_btn_area a{display:inline-block; font-size:18px; padding:5px 10px; border:1px solid #ddd; border-radius:3px;}

#wr_content{margin-bottom:30px;}

#ad-form_file ul li {margin:10px 0; position:relative;}

#ad-form_file .filebox{border: 1px solid #ccc;
    background: #fff;
    vertical-align: middle;
    padding: 5px;
	width:70% !important;
    height: 40px;
    margin: 0;}


span.file_search {
width:20%;
display:inline-block;
padding-left:30px;

}

.ad_list_area li{border:1px solid #ddd; padding:10px; margin-bottom:5px; width:98%;}
a.btn_del{display:inline-block; border:1px solid #666; background:#666; color:#fff; padding:5px; margin-left:10px;}

.ad_form_area li span.placeholder input {display:inline-block; width:98%; margin-bottom:10px; padding:5px 10px;}


.write_foot #btn_submit, .write_foot a{display:inline-block; padding:5px 20px; font-size:16px; background:#fff; border:1px solid #ddd; border-radius:10px; cursor:pointer; vertical-align:baseline;}
.write_foot a{margin-left:5px; background:#00a0f2; border:1px solid #00a0f2; color:#fff;}

/* 게시물 선택복사 선택이동 */
#copymove {}
.copymove_current {float:right;color:#ff3061}
.copymove_currentbg {background:#f4f4f4}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
/* 본문 바로가기 */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* ie6 이미지 너비 지정 */
.img_fix {width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 */
#captcha {display:inline-block;position:relative}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#captcha #captcha_img {width:100px;height:41px;border:1px solid #e9e9e9}
#captcha #captcha_mp3 {position:absolute;top:0;left:101px;;margin:0;padding:0;width:23px;height:22px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer}
#captcha #captcha_mp3 span {position:absolute;top:0;left:0;width:23px;height:22px;background:url('../../../plugin/kcaptcha/img/sound.gif')}
#captcha #captcha_reload {position:absolute;top:21px;left:101px;margin:0;padding:0;width:23px;height:22px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer}
#captcha #captcha_reload span {position:absolute;top:0;left:0;width:23px;height:22px;background:url('../../../plugin/kcaptcha/img/reload.gif')}
#captcha #captcha_key {margin:0 0 0 25px;padding:0 5px;width:70px;height:41px;border:1px solid #b8c9c2;background:#f7f7f7;font-size:1.333em;font-weight:bold;text-align:center;line-height:41px}
#captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc{display:inline-block;padding:0 10px;height:35px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;line-height:35px;vertical-align:middle;cursor:pointer}
.cke_sc_def {margin:5px 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl{margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}
.cke_sc_def .btn_cke_sc_close{padding:5px; background:#3e3c52;border:none;color:#fff}

/* 버튼 */
a.btn01 {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle;border-radius:5px}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {display:inline-block;margin:0;padding:9px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none}
a.btn02 {display:inline-block;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle;border-radius:5px}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}

.btn_confirm {text-align:center} /* 서식단계 진행 */

.btn_submit {margin-top:20px; margin-right:15px; background:#fff;border:1px solid #ddd;border-radius:3px;padding:15px 30px;color:#333;display:block; font-size:18px; cursor:pointer;}
fieldset .btn_submit {padding:0 7px;height:24px;line-height:1.6; ;}
.btn_submit:hover{background:#1d1f86;; color:#fff; border:1px solid #1d1f86;;}

a.btn_cancel {border-radius:3px;padding:10px 20px;background:#fff;border:1px solid #3c95d5;color:#3c95d5;display:inline-block;vertical-align:middle}
.btn_cancel:hover,.btn_cancel:focus{background:#eef7fd}
button.btn_cancel {display:inline-block;border-radius:3px;padding:9px 20px;background:#fff;border:1px solid #3c95d5;color:#3c95d5;display:inline-block}

a.btn_frmline, button.btn_frmline {display:inline-block;padding:0 5px;height:24px;border:0;background:#333;color:#fff;letter-spacing:-0.1em;text-decoration:none;vertical-align:top} /* 우편번호검색버튼 등 */
a.btn_frmline {line-height:24px}
button.btn_frmline {font-size:1em}

/* 게시판용 버튼 */
a.btn_b01 {border-radius:3px;padding:9px 20px;background:#fff;border:1px solid #3c95d5;color:#3c95d5;display:inline-block}
a.btn_b01:focus, a.btn_b01:hover {background:#eef7fd}
a.btn_b02 {background:#3c95d5;border:none;border-radius:3px;padding:10px 20px;color:#fff;display:inline-block}
a.btn_b02:focus, a.btn_b02:hover {background:#0071c2}
a.btn_admin {border:none;border-radius:3px;padding:10px 20px;background:#fff;background:red;color:#fff;display:inline-block} /* 관리자 전용 버튼 */

/* 댓글 스타일 */
.cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}

/* 기본테이블 */
.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_wrap caption {padding:10px 0;font-weight:bold;text-align:left}

.tbl_head01 {margin:0 0 10px}
.tbl_head01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head01 thead th {padding:17px 0;border:1px solid #c4c4c4;background:#ebebeb;color:#383838;text-align:center;font-size:1.083em}
.tbl_head01 thead a {color:#383838}
.tbl_head01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tr:hover{background:#fafafa}
.tbl_head01 td {border:1px solid #dfdfdf;padding:17px 5px;font-size:1.083em;color:#666}
.tbl_head01 a {color:#666}

.tbl_head02 {margin:0 0 10px}
.tbl_head02 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head02 thead th {padding:5px 0;border-top:1px solid #d1dee2;border-bottom:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em;}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 tfoot th, .tbl_head02 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head02 td {padding:5px 3px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.4em;word-break:break-all}
.tbl_head02 a {}

/* 폼 테이블 */
.tbl_frm01 {margin:0 0 20px}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01 th {width:100px;padding:10px 13px;border:1px solid #c4c4c4;background:#ebebeb;color:#383838;text-align:left;font-size:1.083em;}
.tbl_frm01 td {padding:7px 10px;border:1px solid #dfdfdf;font-size:1.083em;color:#666}
.tbl_frm01 textarea, .frm_input {border:1px solid #dcdcdc;;color:#000;vertical-align:middle;line-height:2em; width:100%;}

.frm_input {height:30px;font-size:1.083em;color:#555; width:30%; }
.tbl_frm01 textarea {width:99% !important;}
.tbl_frm01 a {text-decoration:none}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px;padding-left:0}
.tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}

.bo_w_form{width:100%;}

/* 자료 없는 목록 */
.empty_table {padding:50px 0 !important;text-align:center}
.empty_list {padding:30px 0 !important;text-align:center}

/* 필수입력 */


/* 테이블 항목별 정의 */
.td_board {width:120px;text-align:center}
.td_category {width:80px;text-align:center}
.td_chk {width:30px;text-align:center}
.td_date {width:60px;text-align:center}
.td_datetime {width:110px;text-align:center}
.td_group {width:100px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_mng {width:80px;text-align:center}
.td_name {width:100px;text-align:left}
.td_nick {width:100px;text-align:center}
.td_num {width:50px;text-align:center}
.td_numbig {width:80px;text-align:center}
.td_stat {width:60px;text-align:center}

.txt_active {color:#5d910b}
.txt_done {color:#e8180c}
.txt_expired {color:#ccc}
.txt_rdy {color:#8abc2a}

/* 새창 기본 스타일 */
.new_win {}
.new_win .tbl_wrap {margin:0 20px}
.new_win #win_title {margin:0 0 20px;padding:20px;border-top:3px solid #333;border-bottom:1px solid #dde4e9;background:#fff;font-size:1.2em}
.new_win #win_title .sv {font-size:0.75em;line-height:1.2em}
.new_win .win_ul {margin:-20px 0 20px 0;padding:0 20px;border-bottom:1px solid #455255;background:#484848;list-style:none;zoom:1}
.new_win .win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_ul li {float:left;margin-left:-1px}
.new_win .win_ul a {display:block;padding:10px 10px 8px;border-right:1px solid #455255;border-left:1px solid #455255;color:#fff;font-family:'Nanum Gothic', sans-serif;;font-weight:bold;text-decoration:none}
.new_win .win_desc {padding:20px}

.new_win .win_btn {clear:both;padding:20px;text-align:center} /* 새창용 */
.new_win .win_btn button {display:inline-block;padding:0 10px;height:30px;border:0;background:#4b545e;color:#fff;line-height:2em;cursor:pointer}
.new_win .win_btn input {padding:0 10px;height:30px;line-height:2em}
.new_win .win_btn a {display:inline-block;padding:0 10px;height:30px;background:#4b545e;color:#fff;vertical-align:middle;line-height:2.4em}
.new_win .win_btn a:focus, .new_win .win_btn a:hover {text-decoration:none}

/* 검색결과 색상 */
.sch_word {color:#ff3061}

#bo_sch{margin-top:50px;}
.placeholder input, .select_box select{display:inline-block; border: 1px solid #ddd;background: #fff; padding: 3px; border-radius: 3px; height: 30px; margin-right:10px;}
.select_box select{height:38px;}
.placeholder input{width:30%;}
.btn_search_submit{
    background: #333;
	border:none;
    color: #fff;
    line-height: 37px;
    width: 60px;
	border-radius:5px;
    text-align: center;
	cursor:pointer;
}
#bo_sch{margin-bottom:50px;}

/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}

/* 사이드뷰 */
.sv_wrap {position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;border:1px solid #283646}
.sv_wrap .sv a {display:inline-block;margin:0;padding:3px;width:94px;border-bottom:1px solid #283646;background:#111;color:#fff !important;margin-right:0 !important}
.sv_wrap a:focus, .sv_wrap a:hover, .sv_wrap a:active {text-decoration:none}
.sv_on {display:block !important;position:absolute;top:10px;left:0px;width:auto;height:auto}
.sv_nojs .sv {display:block}

/* 페이징 */
.pg_wrap {clear:both;margin:0px 0 20px;padding: 0 0;text-align:center;font-size:1.083em}
.pg {}
.pg_page, .pg_current {display:inline-block;padding:0 8px;height:30px;color:#000;letter-spacing:0;line-height:30px;vertical-align:middle}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {text-decoration:none}
.pg_start{background:url(../img/page_btn.gif) no-repeat 0 0 ;text-indent:-9999px;overflow:hidden;width:30px;height:30px;border:1px solid #eee;padding:0; border-radius:50%;}
.pg_prev {background:url(../img/page_btn.gif) no-repeat -30px 0;text-indent:-9999px;overflow:hidden;width:30px;height:30px;border:1px solid #eee;padding:0;  border-radius:50%;}
.pg_end{background:url(../img/page_btn.gif) no-repeat -93px 0;text-indent:-9999px;overflow:hidden;width:30px;height:30px;border:1px solid #eee;padding:0; border-radius:50%;}
.pg_next {background:url(../img/page_btn.gif) no-repeat -63px 0;text-indent:-9999px;overflow:hidden;width:30px;height:30px;border:1px solid #eee;padding:0;  border-radius:50%;}
.pg_current {display:inline-block;margin:0 4px 0 0;color:#3c95d5;text-decoration:underline;font-weight:bold;font-weight:bold}

/*셀렉트박스*/
.fancy-select {position: relative;font-weight: bold;text-transform: uppercase;color: #46565D;float:left;margin-right:5px}
.fancy-select .trigger {cursor: pointer;text-align:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;position: relative;border: 1px solid #d7d7d7;color:#8a8a8a;border-radius:5px;width:122px;text-indent:5px;height:30px;line-height:30px;-webkit-appearance: none;font-weight:normal;background: url(../img/select_btn.gif) no-repeat right ;font-size: 1.083em;}
.fancy-select .trigger:hover{background-color: #f3f3f3}
.fancy-select .trigger.open {background-color: #f3f3f3;}
.fancy-select ul.options {list-style: none;margin: 0;position: absolute;top: 32px !important;left: 0;visibility: hidden;z-index: 50;max-height: 200px;overflow: auto;background:#fff;min-width:122px;text-align:left;font-size:1em;font-weight:normal;border: 1px solid #d7d7d7;}
.fancy-select ul.options.open {visibility: visible;top: 50px;
transition: opacity 300ms ease-out, top 300ms ease-out;
-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
-o-transition: opacity 300ms ease-out, top 300ms ease-out;}
.fancy-select ul.options li {padding: 8px 12px;color: #999;cursor: pointer;white-space: nowrap;}
.fancy-select ul.options li.hover {background:#eee;color:#666}

/*login*/
#mb_login{padding:100px 0;}
#mb_login h1{padding-bottom:30px;}
.login_id, .login_pw{font-size:18px; padding-bottom:15px; width:8%; display:inline-block; vertical-align:sub;}

.log_id,.log_pw{padding-bottom:30px;}

#mb_login .btn_submit{display:inline-block; padding:5px 10px; height:100%;}
.btn_confirm a {display:inline-block; padding:10px 15px; margin-top:15px; border:1px solid #ddd; border-radius:5px;}


#Print_layer{width:100%; margin:0 auto;background-color:white;height:100%;}
#Print_layer #bo_v_title{color:#333; font-size:30px; background:#fff; border:none; padding:0;}

#Print_layer #trav2 .trav_wid2{display:block; margin-bottom:100px;}
#Print_layer #trav2 .trav_wid2 .trav_img, #Print_layer #trav2 .trav_wid2 .trav_cont2{width:100%; }

#Print_layer #bo_v_atc{padding:0;}
.slider {overflow: hidden;position: relative;max-width: 1180px;margin: 50px auto 0;}
.slider .inner {overflow: hidden;margin: 0 50px;}
.slide_list > li {float: left; width: 350px; height: 350px !important; background: #eee; text-align: center; overflow: hidden; border-radius: 20px; box-shadow: 0px 0 px rgb(0 0 0 / 20%); }
.slide_list > li a {display:block;}
.slide_list li img {width: 350px; height: 255px;}
.slide_list li h3 {display: block; width: 310px; height: 55px;color: #333; font-size: 20px; font-weight: 700; margin: 20px 20px; text-align: center;}
.slider .swiper-button-prev,
.slider .swiper-button-next {position: absolute;top: 60%;width: 35px;height: 35px;background:url('../../../jHRD6th/pngwing-com.png') center center no-repeat;background-size: cover;text-indent: -999em;}
.slider .swiper-button-prev {left: 0;transform: rotateY(180deg) translate(0,-50%);}
.slider .swiper-button-next {right:0;transform: translate(0,-50%);}

.main_txt {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
	z-index:10;
}
.main_txt_wrap {margin:0 auto;padding-top:359px;text-align:left;} 
.main_txt_wrap p {margin:0 auto;width:70%;}
.main_txt_wrap h2 {margin: 0 auto;width: 70%;}
.main_txt_wrap h2 {
    font-size: 60px;
    color: #fff;
	text-shadow: 1px 1px 5px #4F4F4F;
	word-break:keep-all;
}
.main_txt_wrap p {
    font-size: 30px;
    color: #fff;
	letter-spacing:-1px;
	text-shadow: 1px 1px 5px #4F4F4F;
	word-break:keep-all;
}
.swiper-slide > a {width: 100%;display:block;position:relative;}
.swiper-slide a img.pc {display:block;}
.swiper-slide a img.mobile {display:none;}