

 /* PC Device */

@media all and (min-width:1001px){
	/* 전체메뉴 */
	#total_m_lay{display:none;}
}



 @media all and (max-width:1500px){
/*메인*/


.m_tnb a img {height:100%;}

#gnb #gnb_1dul {width: 95%;}



}



 @media all and (max-width:1400px){
    .wrap {width:100%; min-width:320px; box-sizing:border-box; margin:0 auto;}
	.sct_admin{margin-top:15px;}
	.sit_admin{margin-top:15px;}
	#main_con03 .store, #ft_wr{width:97%; margin:0 auto;}
	/*모바일메뉴*/
	.total_m {padding: 5% 2%;}
	div#bo_list, div#bo_gall, section#bo_w, div#sct, div#sit,  article#bo_v   {width: 100%; box-sizing:border-box;max-width:100%;padding:100px 2%; }
	
	#logo {left:3%;}
	#gnb .language {right:2%;}

	/* 메인 */
	.rolling .text {max-width:inherit; width:96%;}
	.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets {max-width:inherit !important;}

	.main_case{padding-left:0; width:98%; margin:40px auto 0;}
	.main_case .main_pic a span {margin-top:10px;}




;
}


@media all and (max-width:1330px){
/*메인*/
#tnb{width:70px;height: 70px;}
#hd .btnMenu{margin: 20px 0;}

/*모바일메뉴*/
.btnMenuClose{width:90px;height:90px;}

#main_con03 .cs_con h4:after {  left: 25%;}
#main_con03 .cs_con h3 {   word-break:keep-all; padding-right:50%;}
}


@media all and (max-width:1200px){
/*메인*/

#hd, #wrapper, #ft{min-width:100%;}
#lnb {display:none;}
#tnb {display:inline-block;}

#logo a {height:50px;}


.main_title {font-size:48px;}



.main_txt_wrap p {margin:0 auto;width:70%;}
.main_txt_wrap h2 {margin: 0 auto;width: 70%;}




/* main_con01 */

.custom_box h1 { font-size: 25px;}
.custom_box h3 { font-size: 30px;}
.customer, .bank { padding: 30px;}
.kakao a, .band a {  padding: 15px 45px 15px 115px;}
.custom_box {justify-content: space-around;}
.kakao:before { top: 30px; left: 30px;}
.band:before {top: 27px; left: 34px;}

#main_con01{margin:30px 0;}


/*main_con02*/

#main_con02 {padding: 80px 0;}
.board h2 { font-size: 30px; margin-bottom:40px;}
.board {padding:80px 0;}
.h_tonglan ul li {width: 300px;}
.h_tonglan h3 { font-size: 18px;}


/*main_con03*/
#main_con03 h3 {font-size: 35px};
#main_con03 p {  font-size: 16px; padding: 15px 0 20px; }
#main_con03 .store_img {text-align:right; display:inline-block;}


/*모바일메뉴*/
#total_m_lay { width: 100% ; overflow: auto; background: #f8f8f8; background: url('../images/main/allMenu_bg.png') #fff right bottom no-repeat; background-size: auto 100%;border: 0;}
.total_m {padding: 0px !important;}
.total_m li button {position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-indent: -999px; overflow: hidden; font-size:0;display:inline-block;}
.total_m > ul > li {position: relative; width: 100% !important;height:auto; font-size: 18px; font-weight: 400;   background: rgba(255, 255, 255, 0.8); border-bottom: 1px solid rgba(0,0,0,0.08);}
.total_m > ul > li > a {padding: 20px; display:inline-block; }

.total_m > ul{display:block;}
.total_m > ul > li.has-sub > a {/*background: url('../images/gnb_dot.png') no-repeat right 15px center; */  font-weight:500; font-size:1.22rem}
.total_m > ul > li.has-sub {padding: 0; text-align: left;  /*border-top: 1px solid #ccc; */}

.total_m > ul > li.has-sub.open > a {/*background: #93845a url('../images/gnb_dot_on.png') no-repeat right 15px center */}
.total_m > ul > li > ul {display: none; padding: 0px; background: #f5f5f5; padding:20px;}
.total_m > ul > li > ul > li {font-size: 16px; /*background-repeat: no-repeat; background-position: right 14px; border-top: 1px solid #ddd; */}
.total_m > ul > li > ul > li:first-child {border-top: 0}
.total_m > ul > li.has-sub.open {}

.total_m > ul > li > ul > li > a {padding: 0 0 20px; /*color: #fff;*/ font-weight:400;  font-size:1.12rem }
.total_m > ul > li > ul > li:last-child > a {padding: 0;}
.total_m > ul > li > ul > li.open > a {color: #1e5394;}
.total_m .btnClose {display: none}
.btnMenu {/*width: 60px; height: 60px; padding: 0px; top: 5px;*/}
.btnMenuClose {width: 60px; height: 60px; padding:0; top: 0; right:0px; }
.m_login {/*display: none;*/ margin-top:50px;}
.m_login li {display: inline-block; margin:0 10px; font-size:1.12rem;}
.m_sns {margin-top: 30px;}


/* 메인 */
.main_visual {height:720px;}
.main_visual:after {display:none;}
.rolling .text h3 {font-size: 35px;}
.rolling .text h2 {font-size:65px; margin:5px 0 30px;}
.rolling .text p {font-size:20px;}
.rolling .text p span { padding:5px 10px;  font-size: 23px;  }



.trav_wid2 .trav_img { height: 300px;}

 /*서브비주얼*/
.sVisual {height:400px;}
.sVisual > div{padding-top:215px}
.sVisual > div h2 {font-size: 44px;}


.trav_cont2 ul {font-size: 18px;}


/*하단*/

.ft_list ul li{margin-right:0; margin-bottom:20px;}
.ft_list ul{flex-direction:column;text-align:right;}
.ft_list{}
#hd_pop {width:100%;}
}

 /* Tablet Device */
@media all and (max-width:1000px){
/*메인*/
#hd_wrapper {height: 70px;}
#gnb {display: none; }
#gnb_open {display:block !important;}
#logo {top:17px;}

	.mVisual .scroll{display: none;}
	.main_txt_in h2{font-size: 55px;}
	.main_txt_in span{font-size: 25px;}
.main_txt_wrap {width:100%;padding:13% 3% 0 3%;box-sizing:border-box;text-align:center;}
	
	.company_box  {margin:0 30px;}
	.company_box, .bg_section {height:360px;}
	.company_list li a h4 {font-size:26px;}
	
	.main_case .main_pic {margin-right:20px;}
	.main_case .main_pic a p {margin-top:10px;}

	/* .swiper-slide{height:600px !important;} */
	.swiper-slide a img {width:100% !important;}
	
 /*서브비주얼*/
	#sidebar {height:60px;}
	#sidebar .home {width:60px; height: 60px;}
	#sidebar .home a {margin-top:15px; margin-left:12px;}
	#sidebar .snb > .over {height: 60px;}
	#sidebar .snb > .over span {line-height:60px;}

	/* 모바일메뉴 */
	#container #content{width:100%;}
	#container #content .sConBox{padding:50px 10px 50px; max-width:768px}
	#container #content .sConBox .btnPrint{display:none}

	.cont_inquiry {height: 240px;}
	.cont_inquiry .online_inqu {right: 5%;}

   .sConBox {width:100%; margin-top:0px;}

	
   /**/div#bo_list, section#bo_w, article#bo_v,  #smb_my, #sod_fin, #sod_v, #sod_frm, #sod_fin, article#bo_v  {width: 96% !important; margin:0 auto;}
   div#bo_gall, div#sct, #sit  {width: 96% !important; margin:0 auto 0; padding:80px 0 90px;}
	div#bo_list, div#bo_gall, section#bo_w, div#sct, div#sit{padding:80px 0 90px;}


	/* 게시판 읽기 */
   #bo_v {padding:20px;}

   /* 게시판 검색 */
   #bo_sch .sch_input{width:60%}

   .sct_20 .sct_li {margin:0 3% 30px 0; width:48.5% !important;}
   .sct_20 .sct_li:nth-child(3n) {margin-right:3%;}
   .sct_20 .sct_li:nth-child(2n) {margin-right:0%;}


   #mb_login {
    padding: 80px 2%;}



    /* 상품 상세보기 - 이미지 미리보기 */
    #sit_pvi {width:45%;}

   /* 상품 상세보기 - 간략정보 및 구매기능 */
    #sit_ov {width:50%;}
	.sanchor li button{font-size: 18px;padding: 18px 0;}
	#sit_title{font-size: 32px;padding-bottom: 30px;margin-bottom: 30px;}
	#sit_desc{font-size:18px;line-height: 28px;}

	#exptime {border-radius:0; border:0; padding:0; }
    #khoa {border-radius:0; border:0; padding:0; }

    #sitemap > li {width:32%;}


/*견적보기*/
	#view_tb1 .title_table {width: 30%;}
	.tbl_head01 tbody th{padding:15px;}
	#view_tb1 .view_th1{padding:10px;width:150px;font-size: 18px;}
	#view_tb1 .view_td1{font-size: 18px;padding:10px;}


/*공지사항 검색*/	
#bo_sch{width: 100%;}

/*main_con01*/
.custom_box h3 {font-size: 25px;}
.custom_box h1 {  font-size: 23px; word-break:keep-all;}
.kakao a, .band a { padding: 15px 30px 15px 100px;}
/*main_con02*/

#scrollbox,#scrollboxx,#scrollboxxx,#scrollboxxxx,#scrollboxxxxx{width:800px !important;}

/*main_con03*/
#main_con03 h3 { font-size: 32px;}
#main_con03 p {font-size: 16px; padding:10px 0 20px;}
/*footer*/

#ft {padding: 30px 0;}
.ft_logo { display: block; width: 100%; margin-bottom:30px;}
.info_wrap ul {width: 100%;   }



.ad_form_area li span.placeholder input {  width: 97%;}


.trav_cont2 .trav_list li {
    padding: 5px 0;}

	.trav_wid2 .trav_img { height: 250px;}

	.login_id, .login_pw {width: 100%;}



}



@media all and (max-width:950px){
/*갤러리게시판*/
	.sct_10 .sct_li{width:50% !important;}
	.products_txt {width:100%;}
	.products_txt h2 {margin-bottom:15px;}
	.products_wrap {width: 100%;float: right;clear: both;margin-top: 40px;}
	.slide_arr {clear:both;width:100%;display: block;position: relative;left: auto;bottom: auto;z-index: 10;text-align: center;height:65px;padding-top:30px;}
	.pro_slides a {text-align:center;}
	.pro_slides a > img {margin: 0 auto 20px auto;}
	.greetings_img {height: 319px;}
	.greetings p {font-size: 16px;}
	.contact_map iframe {height: 300px !important;}
	.product_inquiry {width: 100%;float: right;clear: both;margin-top: 30px;}


	.trav_cont2, .trav_img{width:100% !important;}
	.trav_img{margin-right:0; margin-bottom:50px;}
	.trav_wid2{display:block;}

	.trav_wid2 .trav_img { height: auto;}

}



@media all and (max-width:900px){
/*메인*/

.title:before { top: 8px;}
.title {margin-bottom: 25px; font-size: 30px; }


.trav_cont {  padding: 20px;}
.trav_cont .trav_box2 p { font-size: 16px;}


}



@media all and (max-width:850px){
	#product_slide .swiper-slide {width:540px;}
	#product_slide .pro_txt .pro_title {font-size:40px;}
	#product_slide .swiper-slide.swiper-slide-active .pro_txt {padding-top:130px;}
	#product_slide .pro_txt a {padding:0; width:10px; height:30px;}


#scrollbox, #scrollboxx, #scrollboxxx, #scrollboxxxx, #scrollboxxxxx {
    width: 650px !important;
}


	
}

@media all and (max-width:800px){
/*메인*/


 /*서브비주얼*/
	.sVisual {height:300px;}
	.sVisual > div {padding-top:170px;}
	.sVisual > div h2 {font-size: 38px;}

/*게시판 견적신청*/
	.bo_w_info select{height:45px;}

	.wr_content textarea, .tbl_frm01 textarea, .form_01 textarea, .frm_input{font-size:18px;}
	#bo_w .write_div {margin-bottom:15px;font-size:16px;}
.frm_input{width:60%;}


.custom_box {flex-direction: column;}



/*퀵메뉴*/
.quick_btn_wrap{display:none;}
.m_btn_wrap{display:block;}
.swiper-container .swiper-button-prev, .swiper-container .swiper-button-next {display:none;}

#main_con01 {margin:0 auto 30px;}
.customer, .bank {padding: 20px !important;}
.sub_bn{width:100%;}
#main_con03 .store_img {display: none;}

#ft_wr{display:block;}
	.ft_company {width: 90%;}

	.ft_company .ft_info { font-size: 14px;}
	.ft_list{width:100%; margin-top:30px; padding-bottom: 50px;}
	.ft_list ul { flex-direction: row;}
	.ft_list ul li{margin-right:10px;}



.trav_cont .trav_box2 h3 {margin-bottom: 20px; font-size:18px;}
.trav_cont .trav_box2 h2 { margin-bottom: 15px; font-size:23px;}

article#bo_v{padding:80px 2%;}
.main_txt_wrap {text-align:left;padding: 20% 3% 0 3%;}
.main_txt_wrap h2 {
    margin: 0;
    width: 70%;
}
.main_txt_wrap p {
    margin: 0;
    width: 70%;
}
.swiper-slide a img.pc {display:none;}
.swiper-slide a img.mobile {display:block;}
.hd_pops {width:90%;}
.hd_pops_con {
    width: 100% !important;
    height: 100% !important;
}
}

@media all and (max-width:750px){

.custom_box h3 {  font-size: 23px;}
.custom_box h1 {font-size: 20px;}
.custom_box p { font-size: 14px; line-height: 1.5;}
.ad_form_area li span.placeholder input {  width: 96% !important;}


}


@media all and (max-width:720px){


	.main_visual {height:580px;}

	#main_con02 h2 {font-size: 30px;}
	#main_con02 .sub_tit { margin-bottom: 30px;  font-size: 16px;}
	
	#scrollbox, #scrollboxx, #scrollboxxx, #scrollboxxxx, #scrollboxxxxx {width: 550px !important;}
	#main_con03 .store {padding: 30px 10px; box-sizing:border-box;}
	#ft {  padding: 30px 10px; box-sizing:border-box; overflow: hidden;}

.trav_cont2 p {  font-size: 18px; padding-bottom: 15px; line-height:1.7; word-break:keep-all;}


.custom_box .bank h3, .custom_box02 .bank h3{font-size:35px;}
.custom_box02 .bank p {padding: 20px 0;}

}
@media all and (max-width:700px){
	/*메인*/


	#view_tb1 .view_tr1 {display: flex;flex-wrap: wrap;}
	#view_tb1 .view_th1{width:100%;background: #eee;}
	#view_tb1 .view_td1{width:100%;}
	
	#bo_list, div#bo_gall, section#bo_w, div#sct, div#sit {padding:50px 0;}
	

.trav_cont {flex-direction: column;}

.trav_box1{margin-bottom:20px;}
.trav_cont .trav_box2{margin-left:0;}


}


@media all and (max-width:650px){
/*게시판 견적신청*/
	.product_inquiry_wrap .write_div{width:100%;}
	#bo_w .write_div{margin-bottom:10px;}
	.bo_w_info select{padding: 0 10px;}
	.wr_content textarea, .tbl_frm01 textarea, .form_01 textarea, {padding: 10px;}
	.g-recapt{margin-top:35px;}
	.wr_content textarea, .tbl_frm01 textarea, .form_01 textarea, .frm_input{max-height:200px;}
	#bo_w .bo_w_flie .file_wr {height:45px;padding: 9px;}
	#bo_w .bo_w_flie .lb_icon{height: 43px;line-height: 43px;}

	/*제품상세*/
	#sit_pvi{width:100%;}
	#sit_ov{width:100%;min-height: 180px;}
	.sanchor li button{padding: 10px 0;}
	.sanchor{margin: 30px 0 15px;}

	#sit_title{padding-bottom: 15px; margin-bottom: 15px;}
	.greetings_img {height: 223px;}
	.pro-table table th, .pro-table table td {padding:10px;}
	.pro-table02 table th, .pro-table02 table td {padding:10px;}


	.rolling .text h3 {  font-size: 30px;}
	.rolling .text h2 { font-size: 45px;}
	.rolling .text p span {font-size: 20px;}
	.swiper-pagination-bullet { width: 12px; height: 12px;}
	.visual02 .text p .vis_br{display:none;}

#ad-form_file .filebox { height: 25px; width:97%;}
span.file_search {display: block;padding-left:0;padding-top: 10px;}
#ad-form_file{margin-bottom:20px;}

 .custom_box02 h1 {font-size: 25px; padding-left:40px;}
 .custom_box02 h3, .custom_box02 .bank h3{font-size:30px;}
 .custom_box02 .bank p {
    padding: 17px 0;
}


h1.call:before, h1.cash:before{background-size:30px; top:-3px;}
 h1.cash:before{top:0;}
 .main_txt_wrap h2 {font-size: 45px;}
.main_txt_wrap p {font-size: 25px;}
}



@media all and (max-width:600px){
/*게시판 공지사항*/
	#bo_v_title .bo_v_tit{font-size:22px;word-break:keep-all;margin:15px 0 0;line-height: 28px;}
	#bo_v_title {margin:30px 0;}
	#bo_v{padding: 15px;}
	#bo_v_con{min-height: 160px;}
	.bo_v_com {margin: 20px 0;}
	.bo_v_left{margin: 10px 0;}
	.bo_v_nb{margin:0;}
	#bo_sch{width: 100%; margin-bottom:25px;}
	#bo_sch .sch_input{width: 58%;padding-left:5px;}
	.bo_v_wrap2 {
    padding: 0px;}

	.tbl_head01 td {padding: 25px 15px;}
	.bo_notice td a{font-size:14px;}
	#bo_list .td_datetime{display:none;}
	.tbl_head01 thead th{padding:12px 0;}
#bo_sch{margin-top:30px;}

	#tnb { right: 3%;}

.wr_content textarea, .tbl_frm01 textarea, .form_01 textarea, .frm_input{font-size: 15px;line-height:24px;}

.trav_cont2 li b {  font-size: 20px;}


/*갤러리게시판*/
	.sct_10 .sct_li{width:100% !important;}



 /*서브비주얼*/
	 .sVisual {height:300px;}


/*서브 공통*/
.title {font-size: 28px;}

/*서브-오시는 길*/
	.address h2 {font-size:35px;}
	.address h3 a {display:none;}
	.address p{font-size:20px;}

/*개인정보처리방침*/
.sConBox h2{font-size:22px;margin-bottom:15px;}
.privateD{padding: 25px;}




	.trav_cont2 ul span{width:100%;}
	.slider {margin:0;}
	.board {padding:30px 0;}
	#main_con02 {padding:0;}
	.board h2 {margin-bottom: 10px;}

}



 /* Mobile Device */
@media all and (max-width:560px){
/*메인*/

.ft_list ul li a {   width: 120px;}


/* 서브 */

.sVisual > div h2 {font-size: 28px;}
.sVisual > div h2 span {display:block; margin-left:0; font-size:16px; margin-top:5px;}

#scrollbox, #scrollboxx, #scrollboxxx, #scrollboxxxx, #scrollboxxxxx {  width: 340px !important;}

.placeholder input, .select_box select {height: 25px; padding:0;}
.select_box select {height: 27px;}
.btn_search_submit{line-height:27px;}

.tbl_frm01 textarea {width: 98% !important;}

.ad_form_area li span.placeholder input {width: 94%  !important;}

.custom_box02 h1 {font-size: 20px;}
.custom_box p, .custom_box02 p { font-size: 14px;}
.custom_box02 h3, .custom_box02 .bank h3 { font-size: 28px;}
.custom_box02 .bank p { padding: 15px 0;}

}



@media all and (max-width:550px){

.custom_box02{display:block;}
.custom_box02 .customer, .custom_box02 .bank{width:100%;}


}



@media all and (max-width:500px){

	/*견적보기*/
	#inquiry{width:97%;margin:0 auto;padding:60px 0;}


.overview .over_tb tr { display:flex;  flex-direction: column; text-align: center;}
.overview .over_tb th { width: 100%;}
.overview .over_tb td{width:100%; border:none;} 

/*서브 공통*/
.title {font-size: 26px; margin-bottom: 20px; } 


.target_box dl{width:100%; }
.target_box dl dd { font-size: 16px;}
.target_box dl dd span { font-size: 20px;}

.fz_footer {
    flex-direction: column;
}

.fr a{margin-left:0; margin:10px 10px 0px 0px;}

 .main_txt_wrap h2 {font-size: 35px;}
.main_txt_wrap p {font-size: 18px;}
}



 /* Mobile Device */
@media all and (max-width:480px){
	/*메인*/
	
	.main_visual {height:460px;}
	.rolling .text h2 {font-size:38px;}
	/* .rolling li.swiper-slide-active .text {top:30%;} */
	#visual_wrap .swiper-pagination {bottom:5%;}

	/* .swiper-slide{height:500px !important;} */


	#logo {top: 13px; left:3%;}



#main_con01 .work_con { flex-wrap: wrap;  justify-content: space-around;}
#main_con01 .work_con div{margin:30px 0}




	
#main_con03 h3 {font-size: 25px;}

.ft_copy { font-size:14px; padding-top: 10px;}
.ft_company h3 {padding-bottom: 14px;}
.ft_list ul {flex-wrap:wrap;}
	

	


	

	.ft_menu ul li {margin-right:30px; line-height:1.5;}
	.info_wrap ul {width:100%;}
	.info_wrap ul li {margin-bottom:10px;}

	#bo_list .tbl_head01 a {font-size:16px;}


	.info_wrap ul li {font-size: 14px;}
	.copyright {  margin-top: 10px;}


	.trav_cont2 p {  font-size: 16px; }



	.trav_cont2 ul { font-size: 16px; word-break:keep-all;}


.slider .inner {margin: 0 38px;}
.slide_list > li {width:100% !important;}
.slide_list li img {
	display:block;
    width: 100%;
    height: 255px;
}
.slide_list li h3 {width:auto;height:auto;}
}



@media all and (max-width:452px){

	.bo_v_com li{margin-left: 0;margin-right: 5px;}
	.bo_v_left{margin: 3px 0;}
	.greetings_img {height: 159px;}
	.greetings_img h2 {font-size: 29px;}
	#yakkwan h2 {font-size: 25px;}
	.yakwan_top {padding: 22px;}
	.yakwan_con h3 {margin: 25px 0 11px 0;font-size: 20px;}
	.yakwan_con p {padding: 0 0 0 16px;}

}



@media all and (max-width:400px){
/*메인*/

/*모바일메뉴*/


.btnMenuClose{background:none;top:12px;right:15px;}
.btnMenuClose:before, .btnMenuClose:after{background-color:#000;}

 
/*로그인페이지*/
.mbskin{width:94%;}
.mbskin h1{margin: 40px 0 30px; text-align:center;}
#login_fs{padding: 0 45px 30px;}
#mb_login {padding: 80px 0;}

/*게시판 공지사항*/
.bo_w_info select{ font-size: 16px;}
.wr_content textarea, .tbl_frm01 textarea, .form_01 textarea, .frm_input { font-size: 16px;}
.frm_input{width:100%;}

/*갤러리게시판*/
.sct_10 .sct_img > a{height:240px;}

/*팝업창 모바일*/
.hd_pops_con{width:100% !important;height:100% !important;}
.hd_pops{top: 10px !important;left: 0 !important;}

/*공지사항 검색*/	

#bo_sch .sch_input {width: 50%;}
.nb_date{display:none;}
.bo_v_nb li{padding: 15px;}
.bo_v_nb li .nb_tit{padding-bottom:5px;}

#ft .privacy li{padding-top: 3px;}
.display_none{display:none;}

.trav_cont .trav_box2 h2 {  margin-bottom: 10px; font-size: 20px;}
.trav_cont .trav_box2 h3 { margin-bottom: 10px;}
.trav_cont .trav_box2 p {
    font-size: 14px;
}

.bo_v_com li a { padding: 5px 10px;  font-size: 14px;}


#ad-form_file .filebox {width: 96%;}
.ad_form_area li span.placeholder input {  width: 93% !important;}
 .main_txt_wrap h2 {font-size: 28px;}
.main_txt_wrap p {font-size: 16px;}
}



@media all and (max-width:370px){

.tabs li {width:50%;letter-spacing: -1px;}	
.sct_10 .sct_li {width:100% !important;}

 /*갤러리게시판*/
	.sct_10 .sct_img > a{height:230px;}


.trav_box1{min-width:200px;}
}


@media all and (max-width:356px){
 /*갤러리게시판*/
	.sct_10 .sct_img > a{height:210px;}

}

