.slider {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
  }
  
  .slidesContainer {
	position: relative;
	width: 100%;
	height: 100%;
  }
  
  .slides {
	display: flex;
	transition: transform 0.5s ease;
  }
  
  .slide {
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.5s ease;
  }

.active {
  opacity: 1; /* 활성화된 슬라이드 */
  transform: scale(1); /* 활성화된 슬라이드 크기 */
}

.textOverlay {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 20px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.pagination span {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.activePage {
  color: yellow;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.main {
  flex: 1;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}